* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Mono', monospace;
}

::-webkit-scrollbar {
    width: 0;
}

/*
    Ограничитель для сайта
*/
.limiter {
    width: 100%;
    margin: 0 auto;

    padding-top: 25px;

    background-color: #ffffff;
    background-size: cover;
}

/*
    Главное рабочее окно
*/
.wrapper {
    max-width: 100%;
    min-height: 100vh;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    justify-content: center;
    align-items: center;

    padding: 15px;
}

/*
    Окно формы авторизации
*/
.form-content {
    width: 425px;
    padding: 50px;

    background: #000000;
    text-align: center;
    overflow: hidden;

    border-radius: 2px;
    -webkit-border-radius: 2px;
}

.title {
    font-size: 36px;
    text-align: center;

    width: 300px;

    display: inline-block;
    margin-bottom: 48px;

    overflow: hidden;
    transition: .5s;

    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.title-text {
    color: #e4e6e8;

    text-decoration: none;

    font-style: normal;
    letter-spacing: 5px;
}

.info-about-register {
    padding: 10px 30px;
    margin: 10px 0;

    background-color: darkred;
    color: white;

    transition: opacity 1s linear;
}

input[type=button], input[type=submit], input[type=reset]  {
    font-size: 14px;

    background-color: #ffffff;
    color: #000000;

    padding: 10px 40px;
    margin-bottom: 20px;
    margin-top: 40px;

    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    border-bottom: 5px solid #ffffff;

    outline: none;
    background-color: #000000;
    color: #ffffff;
}

input[type=button]:focus, input[type=submit]:focus, input[type=reset]:focus  {
    outline: none;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    transform: scale(0.95);
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
}

input[type=text], input[type=password], input[type=email] {
    font-size: 14px;

    background-color: #ffffff;
    color: #262729;

    width: 85%;
    height: 5px;

    padding: 14px 32px;
    margin-bottom: 10px;

    text-align: center;
    text-decoration: none;
    border: none;

    display: inline-block;

    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    width: 100%;
    outline: none;
}

input::placeholder {
    font-size: 12px;
    color: #000000;
}

.link {
    font-size: 16px;

    color: #ffffff;

    user-select: none;
    transition: opacity .1s linear;
}

.link_a:hover {
    opacity: 0.5;
}