/*
    Главное рабочее окно
*/
.wrapper {
    max-width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px;
}

/*
    Окно формы авторизации
*/
.form-content {
    width: 425px;
    padding: 50px;

    background: #292929;
    text-align: center;
    overflow: hidden;

    border-radius: 20px;
}

.title {
    font-size: 36px;
    text-align: center;

    width: 300px;

    border-radius: 5px;
    display: inline-block;
    margin-bottom: 48px;

    overflow: hidden;
}

.error {
    font-size: 14px;
    padding: 10px 30px;
    margin: 10px 0;

    background-color: darkred;
    color: white;

    border-radius: 15px;

    transition: opacity 1s linear;

    display: none;
}

input[type=button], input[type=submit], input[type=reset]  {
    padding: 10px 40px;
}

input[type=text], input[type=password], input[type=email] {
    font-size: 14px;

    background-color: #ffffff;
    color: #292929;

    width: 90vm;
    height: 10px;

    padding: 14px 32px;
    margin-bottom: 10px;

    text-align: center;
    text-decoration: none;

    border: none;
    border-radius: 20px;

    display: inline-block;

    transition: all .1s ease-in-out;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    outline: none;
}

input::placeholder {
    font-size: 12px;
    color: #292929;
}

.btn {
    font-size: 14px;
    font-weight: 700;

    background-color: #ffffff;
    color: #292929;

    padding: 10px 150px;
    margin: 30px 25px 30px 25px;

    cursor: pointer;
    text-align: center;
    text-decoration: none;

    outline: none;
    border: none;
    border-radius: 20px;

    transition: all .1s ease-in-out;
}

.btn:hover {
    color: #ffffff;
    background-color: #292929;

    border: 2px solid white;
}

.link {
    font-size: 14px;

    color: #ffffff;

    user-select: none;
    transition: opacity .1s linear;
}

.link a {
    color: white;
}

.link a:hover {
    opacity: 0.5;
}