* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Fira Code', monospace;
    font-weight: 300;
}

::-webkit-scrollbar {
    width: 0;
}

/*
    Ограничитель для сайта
*/
.limiter {
    width: 100%;
    margin: 0 auto;

    background-color: #ffffff;
    background-size: cover;
}

.logo {
    font-size: 36px;
    font-weight: 500;

    letter-spacing: 5px;

    color: #ffffff;
    text-decoration: none;
}

/*
    Верхняя панель
*/
.top_panel {
    width: 100%;
    height: 50px;
    max-height: 50px;

    z-index: 1;
    position: fixed;
    border-radius: 0 0 25px 25px;

    display: flex;
    justify-content: space-between;

    background: #292929;
}

.panel_section {
    display: flex;
    align-items: center;
}

.logo_container {
    width: 100%;

    user-select: none;

    padding-left: 25px;
    padding-right: 10px;
}

.experience {
    font-weight: 600;

    color: #ffffff;

    user-select: none;

    border: 2px solid #ffffff;
    border-radius: 25px;
    /*background: linear-gradient(to right, darkgreen 50%, transparent 50%);*/

    margin-bottom: 2px;
    margin-right: 15px;
    margin-left: 15px;
    padding: 2px 15px;
}

.profile {
    display: flex;

    padding-left: 10px;
    padding-right: 40px;
}

.profile_photo {
    width: 35px;
    height: 35px;

    margin-right: 5px;

    border-radius: 100px;
    -webkit-border-radius: 100px;
}

.profile_username {
    color: #ffffff;
    font-size: 16px;

    text-decoration: none;
    user-select: none;
}

/*
    Выпадающее меню
*/
.profile ul,
.profile ol {
    list-style: none;
}

.profile > ul {
    display: flex;
    justify-content: center;
}

.profile > ul li a {
    display: block;
    font-size: 16px;

    color: #e4e6e8;
    text-decoration: none;
}

.profile > ul li {
    position: relative;
}

.profile > ul li > a img {
    position: absolute;
    left: -2.75em;
    top: -50%;
}

/*
    Sub menu
*/
.profile li ul {
    width: 200px;
    top: 3em;
    left: -7.75em;

    position: absolute;

    text-align: center;
    visibility: hidden;

    transition: all 0.2s ease;
}

.profile li:hover > ul {
    visibility: visible;
}

.profile li > ul li a {
    padding: 10px;
    background: #292929;
}

.profile li > ul li a:hover {
    background: #ffffff;
    color: #292929;
}

/*
    Header у блоков описания и задач
*/
.block_header {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;

    color: #292929;

    text-align: center;

    height: 40px;
    border-bottom: 1px solid #292929;
    user-select: none;

    margin-top: 15px;
}

/*
    Задача
*/
.task {
    width: 100%;
    display: table;

    padding: 10px 20px;
    margin-bottom: 15px;

    color: #292929;
    background-color: #ffffff;

    border-radius: 5px;
    box-shadow: 0 0 10px rgba(160, 160, 160, 0.5);
}

.task span {
    font-size: 14px;
    font-weight: 600;

    width: 60px;

    padding-left: 10px;
    margin: 0 10px;

    display: table-cell;
    vertical-align: middle;
    text-align: center;

    user-select: none;
}

/*
    Текст названия задачи
*/
.tb_text {
    font-size: 14px;
    font-weight: 600;

    display: table-cell;
    vertical-align: middle;
    text-align: center;

    color: #292929;
    text-decoration: none;
    transition: all .1s linear;

    cursor: pointer;
}

.tb_text:hover {
    opacity: 0.5;
}

.alert {
    border-radius: 25px;
}

.alert_btn {
    background-color: #292929;
    border-radius: 25px;
}

.alert_btn:hover {
    background-color: #292929 !important;
}