* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Mono', monospace;
}

::-webkit-scrollbar {
    width: 0;
}

/*
    Ограничитель для сайта
*/
.limiter {
    width: 100%;
    margin: 0 auto;

    background-color: #ffffff;;
    background-size: cover;
}

/*
    Главное рабочее окно
*/
.wrapper {
    max-width: 100%;
    min-height: 100vh;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

/*
    Верхняя панель
*/
.top_panel {
    position: fixed;

    width: 100%;
    min-width: 800px;
    height: 50px;
    max-height: 50px;

    z-index: 1;

    display: flex;
    justify-content: space-between;

    background: #292929;
}

.panel_section {
    display: flex;
    align-items: center;
}

.logo_container {
    width: 100%;

    user-select: none;

    padding-left: 25px;
    padding-right: 10px;

    border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0 2px 2px 0;
}

.logo_text {
    font-size: 28px;
    letter-spacing: 5px;

    color: #ffffff;
    text-decoration: none;
}

.profile {
    display: flex;

    padding-left: 10px;
    padding-right: 40px;

    transition: .1s;
}

.profile_photo {
    width: 35px;
    height: 35px;

    margin-right: 5px;

    border-radius: 100px;
    -webkit-border-radius: 100px;
}

.profile_username {
    color: #e4e6e8;
    font-size: 16px;

    text-decoration: none;
    user-select: none;
}

/*
    Выпадающее меню
*/
.profile ul,
.profile ol {
    list-style: none;
}

.profile > ul {
    display: flex;
    justify-content: center;
}

.profile > ul li a {
    display: block;
    font-size: 16px;

    color: #e4e6e8;
    text-decoration: none;
}

.profile > ul li {
    position: relative;
}

.profile > ul li > a img {
    position: absolute;
    left: -2.75em;
    top: -50%;
}

/*
    Sub menu
*/
.profile li ul {
    position: absolute;
    left: -7.75em;
    text-align: center;
    top: 3em;
    width: 200px;

    visibility: hidden;

    transition: all 0.2s ease;
}

.profile li:hover > ul {
    visibility: visible;
}

.profile li > ul li {
    /*border: 1px solid #303133;*/
}

.profile li > ul li a {
    padding: 10px;
    background: #292929;
}

.profile li > ul li a:hover {
    background: #ffffff;
    color: #292929;

    border-right: 5px solid #292929;
}

/*
    Header у блоков описания и задач
*/
.block_header {
    font-size: 20px;
    letter-spacing: 3px;

    color: #000000;

    text-align: center;

    height: 40px;
    border-bottom: 1px solid #000000;
    user-select: none;

    /*margin-left: 25px;*/
    margin-top: 15px;
    /*margin-right: 25px;*/
}

/*
    Header у кода
*/
.block_header_code {
    letter-spacing: 2px;
    color: #000000;

    text-align: center;

    height: 40px;
    user-select: none;
    margin: 25px 25px 10px 25px
}

/*
    Блок задач
*/
.task_main {
    width: 30%;
    min-width: 350px;
    height: 750px;

    position: relative;

    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(160, 160, 160, 0.5);
    border-radius: 20px;

    margin: 100px 30px 70px 30px;
}

/*
    Блок самого задания
*/
.task_body {
    overflow: auto;

    height: 500px;
    margin: 30px 25px 30px 25px;
}

.task_body::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

.task_body::-webkit-scrollbar-thumb {
    background: #424242;
    border-radius: 8px;
}

/*
    Задача
*/
.task {
    min-width: 10px;
    height: 50px;
    width: 100%;

    display: table;
    margin-bottom: 25px;

    color: #000000;
    background-color: #ffffff;

    border-width: 1px;
    border-style: solid;
    border-image:
        linear-gradient(
            to bottom,
            red,
            rgba(0, 0, 0, 0)
        ) 1 100%;
    border-radius: 20px;

    transition: border-right .1s ease-in;
}

/*
    Текст названия задачи
*/
.tb_text {
    font-size: 14px;
    font-weight: 500;

    display: table-cell;
    vertical-align: middle;
    text-align: center;

    color: #000000;
    text-decoration: none;
    transition: all .1s linear;

    cursor: pointer;
}

.tb_text:hover {
    opacity: 0.5;
}

/*
    Подробное описание
*/
.description_main {
    width: 1200px;
    height: 750px;
    min-width: 350px;

    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(160, 160, 160, 0.5);
    border-radius: 20px;

    position: relative;
    margin: 100px 30px 30px 30px;
}

.description_body {
    margin: 30px 25px 30px 25px;
}

.description {
    height: 500px;

    overflow: auto;

    margin: 20px 10px;
    padding: 10px 15px;
}

.description::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.description::-webkit-scrollbar-thumb {
    background: #424242;
    border-radius: 8px;
}

.db_text {
    font-size: 16px;
    line-height: 1.5;

    color: #000000;
    text-decoration: none;

    text-align: justify;
}

/*
    Блок выполнения задания
*/
.execute_main {
    width: 100%;
    min-width: 350px;
    height: 750px;

    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(160, 160, 160, 0.5);
    border-radius: 20px;

    position: relative;
    margin: 100px 30px 70px 30px;
}

.execute_body {
    display: flex;
    justify-content: center;

    padding: 0px 25px;
}

/*
    Описание задание на странице оформления
*/

.desc {
    height: 650px;
    width: 50%;

    padding-right: 25px;
    padding-left: 25px;
}

.ex_description {
    font-size: 18px;
    font-weight: normal;
    color: #000000;

    height: 650px;

    text-align: justify;
}

#editor {
    font-size: 16px;

    width: 100%;
    height: 60%;

    color: #292929;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(160, 160, 160, 0.5);

    border-radius: 20px;
}

/*
    Блок для написания кода
*/
.ex_code {
    width: 100%;

    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
}

/*
    Результат выполнения
*/
.ex_result {
    width: 100%;
    height: 10%;

    display: table;

    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(160, 160, 160, 0.5);
    border-radius: 20px;
    border-right: 42px solid #232323;

    transition: background-color 1s linear;
}

.result {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/*
    Нижняя панель
*/
.bottom_panel {
    width: 100%;
    height: 30px;
    min-width: 800px;

    background-color: #292929;

    display: flex;
    justify-content: space-between;

    overflow: hidden;
    position: fixed;

    bottom: 0;
    left: 0;
}

.bpanel_text {
    font-size: 14px;

    color: #e4e6e8;

    user-select: none;

    margin-right: 40px;
    margin-left: 20px;

    text-decoration: none;

    transition: opacity .1s linear;
}

.link:hover {
    opacity: 0.5;
}

/*
    Стиль для кнопки
*/
.btn_container {
    height: 30px;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: left;
    position: absolute;
}

.btn {
    font-size: 16px;

    background-color: #292929;
    color: #ffffff;

    padding: 10px 40px;
    margin: 30px 25px 30px 25px;

    cursor: pointer;

    text-align: center;
    text-decoration: none;

    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
}

.btn_disable {
    font-size: 16px;

    background-color: #292929;
    color: #ffffff;

    padding: 10px 40px;
    margin: 30px 25px 30px 25px;

    border: 2px solid #e4e6e8;

    text-align: center;
    text-decoration: none;

    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
}

.btn_disable:hover {
    user-select: none;
}

.btn:hover {
    background-color: #ffffff;
    border-bottom: 5px solid #292929;
    color: #292929;
}