<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" th:href="@{css/index.css}">
</head>
<body>
    <div class="limiter">
        <div class="wrapper">
            <!--                Верхняя панель-->
            <div class="top_panel">
                <div class="panel_section">
                    <!--                    Логотип в верхней панели-->
                    <div class="logo_container">
                        <a class="logo_text" href="#">
                            DEXTERITY
                        </a>
                    </div>
                </div>
                <div class="panel_section">
                    <!--                    Фото профиля (выпадающий список)-->
                    <div class="profile">
                        <img th:if="${!user.toString().equals('anonymousUser')}" th:src="'/images/' + ${user.toString()} + '.jpg'" width="35" height="35" class="profile_photo"/>
                        <img th:if="${user.toString().equals('anonymousUser')}" th:src="'/images/anon.jpg'" width="35" height="35" class="profile_photo"/>
                    </div>
                </div>
            </div>
            <div class="execute_main fade_in_down">
                <div class="block_header" th:text="${selectedTask.getShortDescription()}"></div>
                <div class="execute_body">
                    <div class="desc">
                        <div class="block_header_code">
                            Описание
                        </div>
                        <div class="ex_description" th:text="${selectedTask.getLongDescription()}"></div>
                    </div>
                    <div class="ex_code">
                        <div class="block_header_code">
                            Код
                        </div>
                        <div id="editor"></div>
                        <div class="block_header_code">
                            Результат
                        </div>
                        <div class="ex_result">

                        </div>
                    </div>
                </div>
            </div>

            <!--                Нижняя панель-->
            <div class="bottom_panel">
                <div class="panel_section">
                        <span  class="bpanel_text">
                            © Dexterity 2021
                        </span>
                </div>
                <div class="panel_section">
                    <a class="bpanel_text link" href="#">
                        О разработчике
                    </a>
                </div>
            </div>
        </div>
    </div>

<!--    Ace Editor-->
    <script type="text/javascript" src="js/ace/ace.js" charset="UTF-8"></script>
    <script type="text/javascript" src="js/ace/mode-java.js" charset="UTF-8"></script>
    <script type="text/javascript" src="js/ace/ext-language_tools.js" charset="UTF-8"></script>
    <script th:src="@{js/aceed.js}"></script>
</body>
</html>