<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" th:href="@{css/index.css}" href="../static/css/index.css">
</head>
<body>
    <div class="limiter">
        <div class="wrapper">
            <!--                Верхняя панель-->
            <div class="top_panel">
                <div class="panel_section">
                    <!--                    Логотип в верхней панели-->
                    <div class="logo_container">
                        <a class="logo_text" th:href="@{/}" href="index.html">
                            DEXTERITY
                        </a>
                    </div>
                </div>
                <div class="panel_section">
                    <!--                    Фото профиля (выпадающий список)-->
                    <p class="profile_username">
                        <th:block th:text="${username.toString()}"></th:block>
                    </p>
                    <nav class="profile">
                        <ul>
                            <li>
                                <img th:if="${!#strings.equals(username, 'anonymousUser')}" th:src="'/images/' + ${filename.toString()}" class="profile_photo"/>
                                <img th:if="${#strings.equals(username, 'anonymousUser')}" th:src="@{/images/anon.jpg}" src="../static/images/anon.jpg" class="profile_photo"/>
                                <ul>
                                    <li>
                                        <a th:href="@{/file/upload}">Личный кабинет</a>
                                    </li>
                                    <th:block th:if="${!#strings.equals(username, 'anonymousUser')}">
                                        <li>
                                            <a th:href="@{/logout}">Выйти</a>
                                        </li>
                                    </th:block>
                                    <th:block th:if="${#strings.equals(username, 'anonymousUser')}">
                                        <li>
                                            <a th:href="@{/login}" href="login.html">Войти</a>
                                        </li>
                                    </th:block>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="execute_main">
                <div id="e_dshort" class="block_header" th:text="${selectedTask.getShortDescription()}"></div>
                <div class="execute_body">
                    <div class="desc">
                        <div class="block_header_code">
                            Описание
                        </div>
                        <div class="ex_description" th:text="${selectedTask.getLongDescription()}"></div>
                    </div>
                    <div class="ex_code">
                        <div class="block_header_code">
                            Код
                        </div>
                        <div id="editor"></div>
                        <div class="btn_container">
                            <a id="run_code" class="btn">
                                Протестировать
                            </a>
                        </div>
                        <div class="block_header_code">
                            Результат
                        </div>
                        <div class="ex_result">
                            <span class="result"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!--                Нижняя панель-->
            <div class="bottom_panel">
                <div class="panel_section">
                        <span  class="bpanel_text">
                            © Dexterity 2021
                        </span>
                </div>
                <div class="panel_section">
                    <a class="bpanel_text link" href="#">
                        О разработчике
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{js/jquery.js}" src="../static/js/jquery.js"></script>
    <script type="text/javascript" th:src="@{js/typed.js}" src="../static/js/typed.js"></script>
    <script type="text/javascript" th:src="@{js/main.js}" src="../static/js/main.js"></script>

<!--    Ace Editor-->
    <script type="text/javascript" th:src="@{js/ace/ace.js}" src="../static/js/ace/ace.js" charset="UTF-8"></script>
    <script type="text/javascript" th:src="@{js/ace/ext-language_tools.js}" src="../static/js/ace/ext-language_tools.js" charset="UTF-8"></script>
    <script>
        ace.require("ace/ext/language_tools");
        let editor = ace.edit("editor");

        // Подключение редактора кода
        let editorLib = {
            init() {
                editor.setTheme("ace/theme/twilight");
                editor.session.setMode("ace/mode/java");

                editor.setOptions({
                    enableBasicAutocompletion: true,
                    enableLiveAutocompletion: true,
                    highlightActiveLine: true
                });
            }
        }

        editorLib.init();

        $(document).ready(function (e) {
            $.ajax({
                type: 'GET',
                url: '/selected_task',

                success: function (data) {
                    if (data.status === 'ok') {
                        editor.setValue(data.taskInfo.startCode);
                    }
                }
            })
        });
    </script>
</body>
</html>