<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<!--    <link rel="stylesheet" href="../static/css/index.css">-->
    <link rel="stylesheet" th:href="@{css/index.css}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;500&display=swap" rel="stylesheet">
</head>
    <body>
        <div class="limiter">
            <div class="wrapper">
<!--                Верхняя панель-->
                <div class="top_panel">
                    <div class="panel_section">
<!--                    Логотип в верхней панели-->
                        <div class="logo_container">
                            <a class="logo_text" href="#">
                                DEXTERITY
                            </a>
                        </div>
                    </div>
                    <div class="panel_section">
<!--                    Фото профиля (выпадающий список)-->
                        <nav class="profile">
                            <ul>
                                <li>
                                    <a href="#">
                                        Ulxanxv
                                        <img th:if="${!user.toString().equals('anonymousUser')}" th:src="'/images/' + ${user.toString()} + '.jpg'" class="profile_photo"/>
                                        <img th:if="${user.toString().equals('anonymousUser')}" th:src="'/images/anon.jpg'" class="profile_photo"/>
                                    </a>
                                    <ul>
                                        <li><a href="#">Личный кабинет</a></li>
                                        <li><a href="/logout">Выйти</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

<!--                Блок задач-->
                <div class="task_main fade_in_down">
<!--                    Заголовок блока-->
                    <div class="block_header">
                        Список задач
                    </div>
<!--                        Блок самого задания-->
                    <div class="task_body">
                        <th:block th:each="x : ${taskList}">
                            <div class="task comp_hard" th:if="${x.getDifficult() == 1}">
                                <a class="tb_text"
                                   href="#"
                                   th:text="${x.getShortDescription()}"
                                   onclick="loadLongDescription(this)">
                                </a>
                            </div>
                            <div class="task comp_difficult" th:if="${x.getDifficult() == 2}">
                                <a class="tb_text"
                                   href="#"
                                   th:text="${x.getShortDescription()}"
                                   onclick="loadLongDescription(this)">
                                </a>
                            </div>
                            <div class="task comp_easy" th:if="${x.getDifficult() == 3}">
                                <a class="tb_text"
                                   href="#"
                                   th:text="${x.getShortDescription()}"
                                   onclick="loadLongDescription(this)">
                                </a>
                            </div>
                        </th:block>
                    </div>
                    <div class="btn_container">
                        <a class="btn">
                            Предложить задание
                        </a>
                    </div>
                </div>
<!--                Блок описания задачи-->
                <div class="description_main fade_in_down">
<!--                    Заголовок блока-->
                    <div class="block_header">
                        Описание
                    </div>

                    <div class="description_body">
                        <div class="description">
                            <p id="long_description" class="db_text">
                            </p>
                        </div>
                    </div>
                    <div class="btn_container">
                        <a href="/execute" class="btn" th:if="${!user.toString().equals('anonymousUser')}">
                            Приступить к выполнению
                        </a>
                        <a class="btn_disable" th:if="${user.toString().equals('anonymousUser')}">
                            Приступить к выполнению (неактивна)
                        </a>
                    </div>
                </div>
<!--                Нижняя панель-->
                <div class="bottom_panel">
                    <div class="panel_section">
                        <span  class="bpanel_text">
                            © Dexterity 2021
                        </span>
                    </div>
                    <div class="panel_section">
                        <a class="bpanel_text link" href="#">
                            О разработчике
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{js/dload.js}"></script>
    </body>
</html>