<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link rel="stylesheet" type="text/css" th:href="@{css/index.css}" href="../static/css/index.css">
  <link rel="stylesheet" type="text/css" th:href="@{css/common.css}" href="../static/css/common.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;600&display=swap" rel="stylesheet">
</head>
    <body>

        <div class="limiter">
            <div class="wrapper">
<!--                Верхняя панель-->
                <div class="top_panel">

                    <div class="panel_section">
<!--                    Логотип в верхней панели-->
                        <div class="logo_container">
                            <a class="logo" th:href="@{/}" href="index.html">
                                DEXTERITY
                            </a>
                        </div>
                    </div>

                    <div class="panel_section">
<!--                    Фото профиля (выпадающий список)-->
                      <p class="profile_username">
                        <th:block th:if="${userExist == true}" th:text="${username.toString()}"></th:block>
                      </p>
                      <div class="experience" th:if="${userExist == true}" th:text="${level} + ' уровень'">
                      </div>
                      <nav class="profile">
                        <ul>
                          <li>
                            <img th:if="${userExist == true}" th:src="'images/' + ${filename.toString()}" class="profile_photo"/>
                            <img class="profile_photo" th:if="${userExist == false}" th:src="@{/images/anon.jpg}" src="../static/images/anon.jpg"/>
                            <ul>
                              <li>
                                <a th:if="${userExist == true}" th:href="@{/personal_area}" href="personal_area.html">Личный кабинет</a>
                              </li>
                              <li>
                                <a th:if="${userExist == true}" th:href="@{/rating}" href="rating.html">Рейтинг</a>
                              </li>
                              <th:block th:if="${#strings.equals(role, 'MODER')}">
                                <li>
                                  <a th:href="@{/moderation_list}" href="moderation_list.html">Модерация</a>
                                </li>
                              </th:block>
                              <th:block th:if="${userExist == true}">
                                <li>
                                  <a th:href="@{/logout}">Выйти</a>
                                </li>
                              </th:block>
                              <th:block th:if="${userExist == false}">
                                <li>
                                  <a th:href="@{/login}" href="login.html">Войти</a>
                                </li>
                              </th:block>
                            </ul>
                          </li>
                        </ul>
                      </nav>
                    </div>
                </div>

<!--                Блок задач-->
                <div class="task_main">
<!--                    Заголовок блока-->
                    <div class="block_header">
                        Список задач
                    </div>
<!--                        Блок самого задания-->
                    <div class="task_body">
                        <th:block th:each="task : ${taskList}">
                            <div class="task" th:if="${task.getDifficult() == 1}">
                              <a class="tb_text" th:text="${task.getShortDescription()}">Перевести число в строку</a>
                              <span style="color: darkgreen">Легко</span>
                            </div>
                            <div class="task" th:if="${task.getDifficult() == 2}">
                              <a class="tb_text" th:utext="${task.getShortDescription()}">ASD</a>
                              <span style="color: #646200">Средне</span>
                            </div>
                            <div class="task" th:if="${task.getDifficult() == 3}">
                              <a class="tb_text" th:text="${task.getShortDescription()}">FDS</a>
                              <span style="color: #640000">Трудно</span>
                            </div>
                        </th:block>
                    </div>
                    <div class="btn_container">
                        <a th:href="@{../offers}" href="../templates/offers.html" class="btn">
                            Предложить задание
                        </a>
                    </div>
                </div>

<!--                Блок описания задачи-->
                <div class="description_main">
<!--                    Заголовок блока-->
                    <div class="block_header">
                        Описание
                    </div>

                    <div class="description_body">
                        <div class="description">
                            <p id="long_description" class="db_text">
                            </p>
                        </div>
                    </div>
                    <div class="btn_container">
                        <a th:href="@{/execute}" href="../templates/execute.html" class="btn" th:if="${!username.toString().equals('anonymousUser')}">
                            Приступить к выполнению
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" th:src="@{js/jquery.js}" src="../static/js/jquery.js"></script>
        <script type="text/javascript" th:src="@{js/typed.js}" src="../static/js/typed.js"></script>
        <script type="text/javascript" th:src="@{js/main.js}" src="../static/js/main.js"></script>
    </body>
</html>