<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{css/index.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;500&display=swap" rel="stylesheet">
</head>
    <body>

        <div class="limiter">
            <div class="wrapper">
<!--                Верхняя панель-->
                <div class="top_panel">

                    <div class="panel_section">
<!--                    Логотип в верхней панели-->
                        <div class="logo_container">
                            <a class="logo_text" href="/">
                                DEXTERITY
                            </a>
                        </div>
                    </div>

                    <div class="panel_section">
<!--                    Фото профиля (выпадающий список)-->
                        <nav class="profile">
                            <ul>
                                <li>
                                    <a href="#">
                                        <th:block th:text="${username.toString()}"></th:block>
                                        <img th:if="${!#strings.equals(username, 'anonymousUser')}" th:src="'/images/' + ${filename.toString()}" class="profile_photo"/>
                                        <img th:if="${#strings.equals(username, 'anonymousUser')}" th:src="@{/images/anon.jpg}" class="profile_photo"/>
                                    </a>
                                    <ul>
                                        <li><a href="/file/upload">Личный кабинет</a></li>
                                        <th:block th:if="${!#strings.equals(username, 'anonymousUser')}">
                                          <li><a href="/logout">Выйти</a></li>
                                        </th:block>
                                        <th:block th:if="${#strings.equals(username, 'anonymousUser')}">
                                          <li><a href="/login">Войти</a></li>
                                        </th:block>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

<!--                Блок задач-->
                <div class="task_main">
<!--                    Заголовок блока-->
                    <div class="block_header">
                        Список задач
                    </div>
<!--                        Блок самого задания-->
                    <div class="task_body">
                        <th:block th:each="task : ${taskList}">
                            <div class="task comp_hard" th:if="${task.getDifficult() == 1}">
                                <a class="tb_text" th:text="${task.getShortDescription()}"></a>
                            </div>
                            <div class="task comp_difficult" th:if="${task.getDifficult() == 2}">
                                <a class="tb_text" th:text="${task.getShortDescription()}"></a>
                            </div>
                            <div class="task comp_easy" th:if="${task.getDifficult() == 3}">
                                <a class="tb_text" th:text="${task.getShortDescription()}"></a>
                            </div>
                        </th:block>
                    </div>
                    <div class="btn_container">
                        <a href="#" class="btn">
                            Предложить задание
                        </a>
                    </div>
                </div>

<!--                Блок описания задачи-->
                <div class="description_main">
<!--                    Заголовок блока-->
                    <div class="block_header">
                        Описание
                    </div>

                    <div class="description_body">
                        <div class="description">
                            <p id="long_description" class="db_text">
                            </p>
                        </div>
                    </div>
                    <div class="btn_container">
                        <a href="/execute" class="btn" th:if="${!username.toString().equals('anonymousUser')}">
                            Приступить к выполнению
                        </a>
                        <a class="btn_disable" th:if="${username.toString().equals('anonymousUser')}">
                            Приступить к выполнению (неактивна)
                        </a>
                    </div>
                </div>

<!--                Нижняя панель-->
                <div class="bottom_panel">
                    <div class="panel_section">
                        <span  class="bpanel_text">
                            © Dexterity 2021
                        </span>
                    </div>
                    <div class="panel_section">
                        <a class="bpanel_text link" href="#">
                            О разработчике
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" th:src="@{js/jquery.js}"></script>
        <script type="text/javascript" th:src="@{js/dload.js}"></script>
    </body>
</html>