<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Dexterity — Auth</title>

    <link rel="stylesheet" href="/css/au.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>

    <div class="limiter">
        <div class="wrapper fade-in-down">
            <div class="form-content">
                <span id="title" class="title fade-in first">
                    <i class="title-text">
                        DEXTERITY
                    </i>
                </span>

                <form method="post" action="/login">
                    <input type="text" class="fade-in second" name="login" placeholder="Логин">
                    <input type="password" class="fade-in second" name="password" placeholder="Пароль">
                    <input type="submit" class="fade-in second" value="Войти">

                    <div class="text-c fade-in second">
                        <span class="link">
                            Не имеете аккаунта?
                        </span>
                        <a class="link link_a" href="/sign">
                            Зарегистрироваться
                        </a>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script src="../static/js/anim.js"></script>
</body>
</html>