<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Dexterity — Auth</title>

    <link rel="stylesheet" href="/css/au.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>

    <div class="limiter">
        <div class="wrapper">
            <div class="form-content">
                <span id="title" class="title">
                    <a href="/" class="title-text">
                        DEXTERITY
                    </a>
                </span>

                <form method="post" action="/login">
                    <input type="text" name="login" placeholder="Логин">
                    <input type="password" name="password" placeholder="Пароль">
                    <p th:if="${authError != null}" th:text="${authError.getDescription()}" class="info-about-register"></p>
                    <input type="submit" value="Войти">

                    <div class="text-c">
                        <span class="link">
                            Не имеете аккаунта?
                        </span>
                        <a class="link link_a" href="/sign">
                            Зарегистрироваться
                        </a>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script src="../static/js/anim.js"></script>
</body>
</html>