<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>


	<link rel="stylesheet" type="text/css" th:href="@{css/offers.css}" href="../static/css/offers.css">
	<link rel="stylesheet" type="text/css" th:href="@{css/moderation.css}" href="../static/css/moderation.css">
	<link rel="stylesheet" type="text/css" th:href="@{css/common.css}" href="../static/css/common.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap" rel="stylesheet">
	<style th:inline="css" th:if="${userExist == true}">
      .top_panel::before {
          content: "";

          background: darkred;
          position: absolute;

          height: 2px;
          width: /*[(${experience} % 1000 / 10 + '%')]*/ 0;
      }
	</style>
</head>
<body>

<div class="limiter">
	<div class="wrapper">

		<div class="top_panel">
			<div class="panel_section">
				<!--                    Логотип в верхней панели-->
				<div class="logo_container">
					<a class="logo" th:href="@{/}" href="index.html">
						DEXTERITY
					</a>
				</div>
			</div>
			<div class="panel_section">
				<!--                    Фото профиля (выпадающий список)-->
				<span class="level_span" th:if="${userExist == true}" th:text="${level}"></span>
				<p class="profile_username">
					<th:block th:if="${userExist == true}" th:text="'- ' + ${username.toString()}"/>
				</p>
				<nav class="profile">
					<ul>
						<li>
							<img class="profile_photo" th:if="${userExist == true}" th:src="'images/' + ${filename.toString()}"/>
							<img class="profile_photo" th:if="${userExist == false}" th:src="@{/images/anon.jpg}" src="../static/images/anon.jpg"/>
							<ul>
								<li>
									<a th:if="${userExist == true}" th:href="@{/personal_area}" href="personal_area.html">Личный кабинет</a></li>

								<li>
									<a th:if="${userExist == true}" th:href="@{/rating}" href="rating.html">Рейтинг</a></li>

								<li th:if="${#strings.equals(role, 'MODER')}">
									<a th:href="@{/moderation_list}" href="moderation_list.html">Модерация</a></li>

								<li th:if="${userExist == true}">
									<a th:href="@{/logout}">Выйти</a></li>

								<li th:if="${userExist == false}">
									<a th:href="@{/login}" href="login.html">Войти</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="offers_first">
			<div class="block_header">
				Модерация задания
			</div>
			<!--				Краткое описание и подробное описание-->
			<div class="offers_body">
				<div class="offers_description">
					<div class="tab">
						<button class="tablinks" onclick="openTab(event, 'd_short')">Краткое описание</button>
						<button class="tablinks" onclick="openTab(event, 'd_long')">Подробное описание</button>
						<button class="tablinks" onclick="openTab(event, 'd_difficult')">Сложность</button>
						<button class="tablinks" onclick="openTab(event, 'div_sc_name')">Название основного класса</button>
						<button class="tablinks" onclick="openTab(event, 'div_tc_name')">Название тестового класса</button>
					</div>
					<div id="d_short" class="tabcontent s_desc">
						<p>Краткое описание</p>
						<input th:value="${moderationTask.getShortDescription()}" id="short" type="text" pattern="[А-Яа-яЁё]{0-64}"/>
					</div>
					<div id="d_long" class="tabcontent l_desc">
						<p>Подробное описание</p>
						<textarea th:text="${moderationTask.getLongDescription()}" id="long" type="text" maxlength="32768"></textarea>
					</div>
					<div id="d_difficult" class="tabcontent difficult">
						<p>Сложность</p>
						<select id="difficult" style="width: 100%">
							<option th:selected="${moderationTask.getDifficult() == 1}">Легко</option>
							<option th:selected="${moderationTask.getDifficult() == 2}">Средне</option>
							<option th:selected="${moderationTask.getDifficult() == 3}">Трудно</option>
						</select>
					</div>
					<div id="div_sc_name" class="tabcontent start_code_name">
						<p>Название основного класса</p>
						<input th:value="${moderationTask.getClassName()}" id="sc_name" type="text"/>
					</div>
					<div id="div_tc_name" class="tabcontent test_code_name">
						<p>Название тестового класса</p>
						<input th:value="${moderationTask.getTestClassName()}" id="tc_name" type="text"/>
					</div>
				</div>

				<!--					Стартовый код и сложность-->
				<div class="offers_code">
					<div class="start_code">
						<p title="Код должен содержать класс и метод, куда пользователь должен будет вводить решение. Метод должен быть статичным и принимать.">
							Стартовый код
						</p>
						<div th:text="${moderationTask.getStartCode()}"  class="editor" id="start_code">

						</div>
					</div>
					<div class="test_code">
						<p>Код для тестирования</p>
						<div th:text="${moderationTask.getTestCode()}"  class="editor" id="test_code">

						</div>
					</div>
					<div class="btn_align">
						<button class="btn btn_accept" type="button" id="accept">
							Одобрить
						</button>
						<button class="btn btn_decline" type="button" id="decline">
							Отклонить
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script type="text/javascript" th:src="@{js/jquery.js}" src="../static/js/jquery.js"></script>
	<script type="text/javascript" th:src="@{js/main.js}" src="../static/js/main.js"></script>
	<!--    Ace Editor-->
	<script type="text/javascript" th:src="@{js/ace/ace.js}" src="../static/js/ace/ace.js" charset="UTF-8"></script>
	<script type="text/javascript" th:src="@{js/ace/ext-language_tools.js}" src="../static/js/ace/ext-language_tools.js" charset="UTF-8"></script>
	<script>
		ace.require("ace/ext/language_tools");
		let startEditor = ace.edit("start_code");
		let testEditor = ace.edit("test_code");

		// Подключение редактора кода
		let editorLib = {
			init() {
				startEditor.setTheme("ace/theme/twilight");
				startEditor.session.setMode("ace/mode/java");

				startEditor.setOptions({
					enableBasicAutocompletion: true,
					enableLiveAutocompletion: true,
					highlightActiveLine: true
				});

				testEditor.setTheme("ace/theme/twilight");
				testEditor.session.setMode("ace/mode/java");

				testEditor.setOptions({
					enableBasicAutocompletion: true,
					enableLiveAutocompletion: true,
					highlightActiveLine: true
				});
			}
		}

		editorLib.init();
	</script>
</div>
</div>

</body>
</html>