<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>

	<link rel="stylesheet" type="text/css" th:href="@{css/index.css}" href="../static/css/index.css">
	<link rel="stylesheet" type="text/css" th:href="@{css/offers.css}" href="../static/css/offers.css">
</head>
<body>

<div class="limiter">
	<div class="wrapper">
		<div class="top_panel">
			<div class="panel_section">
				<!--                    Логотип в верхней панели-->
				<div class="logo_container">
					<a class="logo_text" th:href="@{/}" href="index.html">
						DEXTERITY
					</a>
				</div>
			</div>
			<div class="panel_section">
				<!--                    Фото профиля (выпадающий список)-->
				<p class="profile_username">
					<th:block th:text="${username.toString()}"></th:block>
				</p>
				<nav class="profile">
					<ul>
						<li>
							<img th:if="${!#strings.equals(username, 'anonymousUser')}" th:src="'/images/' + ${filename.toString()}" class="profile_photo"/>
							<img th:if="${#strings.equals(username, 'anonymousUser')}" th:src="@{/images/anon.jpg}" src="../static/images/anon.jpg" class="profile_photo"/>
							<ul>
								<li>
									<a th:href="@{/file/upload}" href="../templates/personal_area.html">Личный кабинет</a>
								</li>
								<th:block th:if="${!#strings.equals(username, 'anonymousUser')}">
									<li>
										<a th:href="@{/logout}">Выйти</a>
									</li>
								</th:block>
								<th:block th:if="${#strings.equals(username, 'anonymousUser')}">
									<li>
										<a th:href="@{/login}" href="login.html">Войти</a>
									</li>
								</th:block>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

</body>
</html>