<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>

	<link rel="stylesheet" type="text/css" th:href="@{../css/personal-area.css}" href="../static/css/personal-area.css">
	<link rel="stylesheet" type="text/css" th:href="@{css/common.css}" href="../static/css/common.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>

<div class="limiter">
	<div class="wrapper">
		<!--                Верхняя панель-->
		<div class="top_panel">

			<div class="panel_section">
				<!--                    Логотип в верхней панели-->
				<div class="logo_container">
					<a class="logo" th:href="@{/}" href="index.html">
						DEXTERITY
					</a>
				</div>
			</div>

			<div class="panel_section">
				<!--                    Фото профиля (выпадающий список)-->
				<p class="profile_username">
					<th:block th:text="${username.toString()}"></th:block>
				</p>
				<nav class="profile">
					<ul>
						<li>
							<img th:if="${!#strings.equals(username, 'anonymousUser')}" th:src="'../images/' + ${filename.toString()}" class="profile_photo"/>
							<img class="profile_photo" th:if="${#strings.equals(username, 'anonymousUser')}" th:src="@{../images/anon.jpg}" src="../static/images/anon.jpg"/>
							<ul>
								<li>
									<a th:href="@{/file/upload}" href="../templates/personal_area.html">Личный кабинет</a>
								</li>
								<th:block th:if="${!#strings.equals(username, 'anonymousUser')}">
									<li>
										<a th:href="@{/logout}">Выйти</a>
									</li>
								</th:block>
								<th:block th:if="${#strings.equals(username, 'anonymousUser')}">
									<li>
										<a th:href="@{/login}" href="login.html">Войти</a>
									</li>
								</th:block>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="personal_main">
			<div class="personal_info">
				<div class="personal_photo">
<!--					<img class="profile_photo" th:if="${!#strings.equals(username, 'anonymousUser')}" th:src="'../images/' + ${filename.toString()}"/>-->
					<img th:if="${#strings.equals(username, 'anonymousUser')}" th:src="@{../images/anon.jpg}" src="../static/images/anon.jpg"/>
				</div>
				<span th:text="${username}">Ulxanxv</span>
				<div class="personal_edit">
					<form method="post" enctype="multipart/form-data" action="/file/upload">
						<div>
							<input type="file" name="file" id="input" class="input_file">
							<label for="input">
								<span class="input__file-button-text">Загрузить фото</span>
							</label>
						</div>
						<div>
							<button class="input__file-button-text" type="submit">Сохранить</button>
						</div>
					</form>
				</div>
			</div>

			<div class="personal_rating">
				<div class="block_header">
					Решенные задачи
				</div>
				<!--                        Блок самого задания-->
				<div class="task_body">
					<div class="task" th:if="${task.getDifficult() == 1}">
						<a class="tb_text" th:text="${task.getShortDescription()}">Перевести число в строку</a>
						<span style="color: darkgreen">Легко</span>
					</div>
					<div class="task" th:if="${task.getDifficult() == 2}">
						<a class="tb_text" th:utext="${task.getShortDescription()}">ASD</a>
						<span style="color: #646200">Средне</span>
					</div>
					<div class="task" th:if="${task.getDifficult() == 3}">
						<a class="tb_text" th:text="${task.getShortDescription()}">FDS</a>
						<span style="color: #640000">Трудно</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>