<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>

	<link rel="stylesheet" type="text/css" th:href="@{css/index.css}" href="../static/css/index.css">
	<link rel="stylesheet" type="text/css" th:href="@{css/rating.css}" href="../static/css/rating.css">
	<link rel="stylesheet" type="text/css" th:href="@{css/common.css}" href="../static/css/common.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;600&display=swap" rel="stylesheet">
	<style th:inline="css" th:if="${userExist == true}">
      .top_panel::before {
          content: "";

          background: darkred;
          position: absolute;

          height: 2px;
          width: /*[(${experience} % 1000 / 10 + '%')]*/ 0;
      }
	</style>
</head>
<body>

<div class="limiter">
	<div class="wrapper">
		<div class="top_panel">
			<div class="panel_section">
				<!--                    Логотип в верхней панели-->
				<div class="logo_container">
					<a class="logo" th:href="@{/}" href="index.html">
						DEXTERITY
					</a>
				</div>
			</div>
			<div class="panel_section">
				<!--                    Фото профиля (выпадающий список)-->
				<span class="level_span" th:if="${userExist == true}" th:text="${level}"></span>
				<p class="profile_username">
					<th:block th:if="${userExist == true}" th:text="'- ' + ${username.toString()}"/>
				</p>
				<nav class="profile">
					<ul>
						<li>
							<img class="profile_photo" th:if="${userExist == true}" th:src="'images/' + ${filename.toString()}"/>
							<img class="profile_photo" th:if="${userExist == false}" th:src="@{/images/anon.jpg}" src="../static/images/anon.jpg"/>
							<ul>
								<li>
									<a th:if="${userExist == true}" th:href="@{/personal_area}" href="personal_area.html">Личный кабинет</a></li>

								<li>
									<a th:if="${userExist == true}" th:href="@{/rating}" href="rating.html">Рейтинг</a></li>

								<li th:if="${#strings.equals(role, 'MODER')}">
									<a th:href="@{/moderation_list}" href="moderation_list.html">Модерация</a></li>

								<li th:if="${#strings.equals(role, 'MODER')}">
									<a style="cursor: pointer" onclick="updateRatingTable()">Обновить рейтинг-таблицу</a></li>

								<li th:if="${userExist == true}">
									<a th:href="@{/logout}">Выйти</a></li>

								<li th:if="${userExist == false}">
									<a th:href="@{/login}" href="login.html">Войти</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="rating_body">
			<div class="table task_table">
				<div class="block_header">
					Выбор задачи
				</div>
				<div class="search_task">
					<input id="t_search" type="text" placeholder="Поиск">
				</div>
				<div class="task_list">
					<th:block th:each="task : ${taskList}">
						<div th:if="${task.isDeleted() == false}" class="task">
							<a class="tb_text" onclick="searchRatingList(event)" th:text="${task.getShortDescription()}"></a>
							<th:block th:switch="${task.getDifficult()}">
								<span th:case="1" style="color: #006400FF">Легко</span>
								<span th:case="2" style="color: #646200">Средне</span>
								<span th:case="3" style="color: #640000">Трудно</span>
							</th:block>
						</div>
						<div th:if="${task.isDeleted() == true}" class="task" style="opacity: 0.5">
							<a class="tb_text" onclick="searchRatingList(event)" th:text="${task.getShortDescription()}"></a>
							<th:block th:switch="${task.getDifficult()}">
								<span th:case="1" style="color: #006400FF">Легко</span>
								<span th:case="2" style="color: #646200">Средне</span>
								<span th:case="3" style="color: #640000">Трудно</span>
							</th:block>
						</div>
					</th:block>
				</div>
			</div>

			<div class="table rating_table">
				<div class="block_header">
					Рейтинг
				</div>
				<div class="rating">
					<table>
						<tr>
							<th>Место</th>
							<th>Логин пользователя</th>
							<th>Задача</th>
							<th>Скорость (нс.)</th>
							<th>Краткость (симв.)</th>
							<th>Оценка</th>
						</tr>
					</table>
				</div>
			</div>
		</div>

	</div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript" th:src="@{js/jquery.js}" src="../static/js/jquery.js"></script>
<script type="text/javascript" th:src="@{js/main.js}" src="../static/js/main.js"></script>

</body>
</html>