<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dexterity — Registration</title>

    <link rel="stylesheet" href="/css/au.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>

    <div class="limiter">
        <div class="wrapper fade-in-down">
            <div class="form-content">
                <span id="title" class="title fade-in first">
                    <i class="title-text">
                        DEXTERITY
                    </i>
                </span>

                <form action="/sign" method="post" th:object="${credential}">
                    <input th:field="*{email}" style="margin-bottom: 25px" type="email" class="fade-in second" placeholder="E-Mail"/>
                    <input th:field="*{login}" type="text" class="fade-in second" placeholder="Логин"/>
                    <input th:field="*{password}" type="password" class="fade-in second" placeholder="Пароль"/>
                    <input type="password" class="fade-in second" placeholder="Подтверждение пароля"/>
                    <input type="submit" class="fade-in second" value="Зарегистрироваться">

                    <div class="fade-in second">
                        <span class="link">
                            Уже имеете аккаунт?
                        </span>
                        <a class="link link_a" href="/login">
                            Войти
                        </a>
                    </div>
                </form>

            </div>
        </div>
    </div>

</body>
</html>